# Ignore everything in this directory
team1/TicketMaster/.idea/*
team1/TicketMaster/out/*
*.class
*.jar
*.iml
team1/TicketMaster/target/*
[Ll]ogs/
team1/TicketMaster/files/[Ll]ogs/
team1/TicketMaster/files/logs/syslog.log
*.log
# Except this file
!.gitignore
!team1/TicketMaster/pom.xml
.idea
target/
